input,
textarea{
  @extend %base;

  padding: 10px;

  border-radius: 3px;
  border: thin solid $grey;
}

input[type="number"]{
  max-width: 80px;

  border-color: $grey-text;
  background-color: $grey;
}