form[role="search"]{
  width: 350px;
  max-width: 600px;
  height: 40px;

  ::-webkit-input-placeholder{
    @include font-smoothing(antialiased);
    color: $white;
  }
  :-moz-placeholder{
    @include font-smoothing(antialiased);
    color: $white;
  }
  ::-moz-placeholder{
    @include font-smoothing(antialiased);
    color: $white;
  }
  :-ms-input-placeholder {
    @include font-smoothing(antialiased);
    color: $white;
  }

  input[type="search"]{
    @extend %base;
    @include appearance( none );

    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 40px;

    color: $white;
    border: thin solid $grey;
    border-radius: 3px;
    background-color: $white;
  }

  button[type="submit"]{
    top: 5px;
    right: 5px;
    position: absolute;

    width: 30px;
    height: 30px;
    padding: 0;
    margin-left: -35px;

    background-color: $white;

    img{
      left: 1px;

      width: 20px;
    }
  }
}