select{
  @extend %base;
  @include appearance( none );

  padding: 10px;
  padding-right: 30px;

  cursor: pointer;
  background-color: $grey-light;
  border-radius: 5px;
  border: thin solid $grey;

  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-image: url('../img/arrow-dropdown.svg');
}