table{
  width: 100%;

  text-align: left;
  border-collapse: collapse;

  th,
  td{
    @extend %base;
  }

  dt{
    display: inline-block;
  }

  dd{
    display: inline-block;

    > *{
      font-weight: 500;
    }
  }

  thead{
    th{
      padding: 15px;

      border: thin solid $grey;
    }
  }

  tbody{
    td{
      padding: 15px;

      border: thin solid $grey;
    }
  }
}