.alert{
  @include flexbox;
  @include align-items( center );
  @include justify-content( space-between );

  width: 100%;
  padding: 15px;

  border: thin solid $grey;

  .alert-icon{
    width: 20px;
    height: 20px;
    margin-left: 20px;

    opacity: .6;
  }
}

.alert-succes{
  border-color: rgba(48, 204, 46, 1);
  background-color: rgba(48, 204, 46, 0.2);
}

.alert-info{
  border-color: rgba(46, 124, 204, 1);
  background-color: rgba(46, 124, 204, 0.1);
}

.alert-warning{
  border-color: rgba(202, 204, 46, 1);
  background-color: rgba(202, 204, 46, 0.1);
}

.alert-danger{
  border-color: rgba(204, 46, 46, 1);
  background-color: rgba(204, 46, 46, 0.2);
}