aside{
  float: right;

  width: 100%;
  max-width: 350px;

  > div{
    margin-bottom: 40px;
    padding: 20px;

    border: thin solid $grey;
    background-color: $grey-light;

    ul{
      padding: 10px 0;

      li{
        padding: 5px 0;

        &:last-child{
          padding-bottom: 0;
        }

        small{
          display: block;
          padding: 5px 0;
        }
      }
    }

    &.aside-teams{
      li{
        padding: 10px 0;

        figure,
        a{
          display: inline-block;
        }

        figure{
          @include border-radius( 100% );

          width: 40px;
          height: 40px;
          margin-right: 15px;
          vertical-align: middle;
          overflow: hidden;

          img{
            height: 100%;
            width: auto;
            max-width: none;
          }
        }
      }
    }
  }
}