aside{
  float: right;

  width: 100%;
  max-width: 350px;

  > div{
    margin-bottom: 40px;
    padding: 20px;

    border: thin solid $grey;
    background-color: $grey-light;

    ul{
      padding: 10px 0;

      li{
        padding: 5px 0;

        small{
          display: block;
          padding: 5px 0;
        }
      }
    }

    &.aside-teams{
      li{
        padding: 10px 0;

        img,
        a{
          display: inline-block;
        }

        img{
          width: 50px;
          margin-right: 15px;
          vertical-align: middle;
        }
      }
    }
  }
}