aside{
  float: right;

  width: 100%;
  max-width: 300px;
  padding: 0 20px;

  > div{
    margin-bottom: 40px;

    .aside-subheader{
      height: 40px;
      margin-left: -20px;
      padding-left: 20px;

      line-height: 40px;
      border-bottom: thin solid $grey;
    }

    ul{
      padding: 10px 0;

      li{
        padding: 10px 0;

        small{
          display: block;
          padding: 5px 0;
        }
      }
    }
  }
}