aside{
  float: right;

  width: 100%;
  max-width: 300px;
  padding: 0 20px;

  > div{
    margin-bottom: 40px;

    ul{
      padding: 10px 0;

      li{
        padding: 5px 0;

        small{
          display: block;
          padding: 5px 0;
        }
      }
    }
  }
}