.list-col{
  width: 100%;

  border: thin solid $grey;

  .list-col-head{
    height: 40px;

    background-color: $white;

    p{
      color: $black;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

  li{
    width: 100%;
    height: 80px;
    padding: 0 20px;
    display: table;

    background-color: $grey-light;
    border-bottom: thin solid $grey;

    form{
      width: 100%;
      height: 80px;
      display: table;
    }

    img{
      vertical-align: middle;
    }

    [class^="list-item-"]{
      display: table-cell;
      vertical-align: middle;

      &:last-child{
        text-align: right;
      }
    }

    .price{
      span.label{
        display: block;
      }
    }
  }
}

@media all and (max-width: 800px){
  .list-col{
    .list-col-head{
      p{
        font-size: 10px;
      }
    }

    li{
      height: auto;
      padding: 10px;

      font-size: 12px;

      *{
        font-size: 12px;
      }

      form{
        height: auto;
      }

      [class^="list-item-"]{
        vertical-align: top;
      }

      select{
        height: 30px;
        padding: 5px;
        padding-right: 25px;
      }

      .button{
        height: 30px;
        padding: 0 10px;

        line-height: 30px;
      }
    }
  }
}
