.list-col{
  li.list-col-head{
    @include font-smoothing( antialiased );

    height: 40px;

    color: $white;
    background-color: #333;
  }

  li{
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: table;

    background-color: $grey-light;
    border-bottom: thin solid $grey;

    form{
      width: 100%;
      height: 80px;
      display: table;
    }

    [class^="list-item-"]{
      display: table-cell;
      vertical-align: middle;

      &:last-child{
        text-align: right;
      }
    }
  }
}

@for $i from 1 through 10{
  $value: $i * 10;

  .list-item-#{$value}{
    width: $value * 1%;
  }
}