.list-card{
  @include flexbox;
  @include flex-wrap( wrap );
  @include align-items( flex-start );
  @include justify-content( space-between );

  li{
    width: 30%;
    margin-bottom: 40px;

    border: thin solid $grey;

    div{
      padding: 15px 0;

      text-align: center;
    }
  }
}