.list-card{
  @include flexbox;
  @include flex-wrap( wrap );
  @include align-items( flex-start );

  max-width: none;
  // padding: 0 10px;

  > li{
    width: 33.33333%;
    padding: 0 10px;
    margin-bottom: 40px;

    .card-container{
      @include border-radius( 3px );

      overflow: hidden;

      border: thin solid $grey;
      background-color: $white;

      .card-image{
        width: 100%;
        height: 200px;
        padding: 20px;

        background-color: $color-primary-light;

        img{
          max-height: 100%;
          width: auto;
          margin: auto;
        }
      }

      .card-info{
        padding: 20px;

        *{
          display: block;
        }

        h3{
          margin-bottom: 20px;
        }

        h3 + p{
          margin-top: -20px;
          margin-bottom: 20px;

          color: $grey-text;
        }

        ul{
          li{
            margin-bottom: 10px;
          }
        }
      }

      .card-actions{
        @include flexbox;
        @include align-items( center );
        @include justify-content( space-between );

        padding: 10px 20px;

        border-top: thin solid $grey;
      }
    }
  }
}

@media screen and (max-width: 960px){
  .list-card > li{
    width: 50%;
  }
}

@media screen and (max-width: 600px){
  .list-card > li{
    width: 100%;
  }
}