.list{
  float: left;

  width: 100%;
  // max-width: 850px;

  h2, h3, h4{
    margin-bottom: 15px;
  }
}

@for $i from 1 through 10{
  $value: $i * 10;

  .list-item-#{$value}{
    width: $value * 1%;
  }
}