.tooltip{
  img{
    width: 20px;
  }

  &:after{
    @extend p;
    @include hide( .2s );
    @include transform( translate(-50%, -100%) );

    content: attr(data-tooltip);

    top: -10px;
    left: 50%;
    position: absolute;
    z-index: 10000;

    padding: 10px;
    display: inline-table;

    color: $white;
    font-size: 12px;
    white-space: nowrap;
    border-radius: 3px;
    background-color: $black;
  }

  &:hover:after{
    @include show( .2s );
  }
}

.tooltip.tooltip-large{
  &:after{
    width: 220px;
    display: block;
    white-space: normal;
  }
}