$black: rgba(0,0,0,1);
$white: rgba(255,255,255,1);

$grey: rgba(224,224,224,1);
$grey-text: #727272;
$grey-light: rgba(244,244,244,1);
$grey-dark: rgba(51,51,51,1);

// $green: rgba(46,204,113,1);
// $green-dark: rgba(39, 174, 96, 1);

// $green: #A9D95C;
// $green-dark: darken($green, 10%);

// $green: #37474f;
// $button: #00BFA5;
// $green-dark: darken($green, 10%);

// $green: #37474f;
// $button: #00BFA5;
// $green-dark: darken($green, 10%);

// $color-primary: #009688;
// $color-primary-dark: #00796B;
// $color-primary-light: #B2DFDB;
// $color-accent: #FF5722;
// $color-accent-dark: darken($color-accent, 15%);

$color-primary: #546E7A; // Google blue grey 600
$color-primary-dark: #37474F; // Google blue grey 800
$color-primary-light: #78909C; // Google blue grey 400
$color-accent: #FF5252; // Google red A200
$color-accent-dark: #D32F2F; // Google red 700