$black: rgba(0,0,0,1);
$white: rgba(255,255,255,1);

$grey: rgba(224,224,224,1);
$grey-text: rgba(136,136,136,1);
$grey-light: rgba(244,244,244,1);
$grey-dark: rgba(51,51,51,1);

$green: rgba(46,204,113,1);
$green-dark: rgba(39, 174, 96, 1);

// $green: #A9D95C;
// $green-dark: darken($green, 10%);