body > footer{
  z-index: $zIndex-footer;

  padding: 0;

  border-top: thin solid $grey;
  background: $grey-light;

  > *{
    padding: 40px $space-sides;
  }

  .footer-content{
    > ul{
      @include flexbox;

      width: 100%;

      > li{
        width: 25%;
        padding: 0 20px;
        display: inline-block;

        h4{
          margin-bottom: 10px;
        }

        small{
          display: block;
        }

        img{
          width: 80px;
        }
      }
    }
  }

  .footer-bottom{
    @include linear-gradient( 40deg, darken($color-primary-dark, 10%) 30%, darken($color-primary, 20%) 70% );

    padding-top: 20px;
    padding-bottom: 20px;

    background-color: $color-primary-dark;

    *{
      color: $white;
      font-size: 12px;
    }

    a{
      border-bottom: thin solid $white;
    }
  }
}