body > header{
  top: 0;
  left: 0;
  position: absolute;
  z-index: $zIndex-header;

  width: 100%;
  height: $header-height;

  background-color: transparent;
  border-bottom: thin solid $grey;

  .header-bottom > div,
  .header-content{
    @include flexbox;
    @include align-items( center );

    max-width: 1100px;
    height: 100%;
    margin: auto;
  }
}

// Header top
body .header-bottom{
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: $grey-light;

  small{
    margin-left: auto;

    color: $grey-text;
  }
}

// Header content
body > header .header-content{
  > *{
    margin: 0 20px;

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-right: 0;
    }
  }

  // Logo
  .link-logo{
    width: 160px;

    img:nth-child(2),
    img:nth-child(3){
      display: none;
    }

    img{
      top: 0;
      bottom: 0;
      position: absolute;

      width: 100%;
      margin: auto;
    }

    h2{
      font-family: 'Lobster', cursive;
      color: $color-accent;
    }
  }

  // Nav
  nav{
    margin-left: auto;
  }

  .button{
    margin-left: 0;
  }
}
