body > header{
  @include flexbox;
  @include align-items( center );
  @include justify-content( center );

  z-index: $zIndex-header;

  width: 100%;
  height: $header-height;

  background-color: $grey-light;

  .link-logo{
    width: 150px;
    margin-right: 30px;
    display: inline-block;
  }

  form[role="search"]{
    width: 100%;
    max-width: 600px;
    height: 40px;

    input[type="search"]{
      @extend %base;
      @include appearance( none );

      width: 100%;
      height: 100%;
      padding-left: 10px;
      padding-right: 40px;

      outline: 0;
      border: thin solid $grey;
      border-radius: 3px;
    }

    button[type="submit"]{
      top: 5px;
      right: 5px;
      position: absolute;

      width: 30px;
      height: 30px;
      padding: 0;
      margin-left: -35px;
    }
  }
}
