body > header{
  z-index: $zIndex-header;

  width: 100%;

  background-color: $white;
  border-bottom: thin solid $grey;

  .header-bottom > div,
  .header-content > div{
    @include flexbox;
    @include align-items( center );

    max-width: 1100px;
    height: 100%;
    margin: auto;
  }
}

// Header top
body > header .header-bottom{
  padding-top: 10px;
  padding-bottom: 10px;

  small{
    margin-left: auto;

    color: $grey-text;
  }
}

// Header content
body > header .header-content > div{
  > *{
    margin: 0 20px;

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin: 0;
    }
  }

  // Logo
  .link-logo{
    width: 200px;

    img{
      top: 0;
      bottom: 0;
      position: absolute;

      width: 100%;
      margin: auto;
    }
  }

  // Nav
  nav{
    margin-left: auto;
  }
}
