body > header{
  z-index: $zIndex-header;

  width: 100%;
  height: $header-height;

  background-color: $color-primary;

  .header-content{
    @include flexbox;
    @include align-items( center );

    max-width: 1100px;
    height: 100%;
    margin: auto;

    > *{
      margin: 0 20px;

      &:first-child{
        margin-left: 0;
      }

      &:last-child{
        margin-right: 0;
      }
    }

    // Logo
    .link-logo{
      width: 130px;

      img{
        top: 0;
        bottom: 0;
        position: absolute;

        width: 100%;
        margin: auto;
      }
    }

    // Search form
    form[role="search"]{
      input[type="search"]{
        border: none;
      }
    }

    // Nav
    nav{
      > ul{
        > li{
          > p,
          > a{
            @include font-smoothing( antialiased );
            
            color: $white;
            font-size: 16px;
            // text-transform: uppercase;
            // letter-spacing: 1.2px;
          }
        }
      }
    }

    // Help
    > a{
      margin-left: auto;
    }
  }
}
