body > header{
  z-index: $zIndex-header;

  width: 100%;

  background-color: $white;
  border-bottom: thin solid $grey;

  .header-bottom > div,
  .header-content > div{
    @include flexbox;
    @include align-items( center );

    max-width: 1200px;
    height: 100%;
    margin: auto;
  }

  .header-content{
    height: $header_height;
  }
}

// Header top
body > header .header-bottom{
  padding-top: 10px;
  padding-bottom: 10px;

  div:last-child{
    margin-left: auto;

    color: $grey-text;

    small{
      margin-right: 10px;

      &:last-child{
        margin-right: 0;
      }
    }

    i{
      vertical-align: middle;
      margin-top: -4px;
    }
  }
}

// Header content
body > header .header-content > div{
  // Logo
  .link-logo{
    width: 200px;

    img{
      top: 0;
      bottom: 0;
      position: absolute;

      width: 100%;
      margin: auto;
    }
  }

  // Nav
  nav{
    margin: 0 20px;
    margin-left: auto;
  }

  > .button{
    i{
      margin-top: 0;
      margin-right: 6px;

      font-size: 20px;
    }
  }

  .button-menu{
    display: none;
    margin-left: auto;
  }
}

@media all and (max-width: 1280px){
  body > header .header-content > div{
    nav,
    .button-service{
      display: none;
    }

    .button-menu{
      display: inline-block;
    }
  }
}

@media all and (max-width: 800px){
  body > header .header-content{
    form{
      display: none;
    }
  }

  body > header .header-bottom{
    display: none;
  }
}