body > header{
  @include flexbox;
  @include align-items( center );
  @include justify-content( center );

  z-index: $zIndex-header;

  width: 100%;
  height: $header-height;

  background-color: $green;

  > *{
    margin: 0 20px;

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-right: 0;
    }
  }

  // Search form
  form[role="search"]{
    width: 350px;
    max-width: 600px;
    height: 40px;

    ::-webkit-input-placeholder{
      color: darken($green-dark, 20%);
    }
    :-moz-placeholder{
      color: darken($green-dark, 20%);
    }
    ::-moz-placeholder{
      color: darken($green-dark, 20%);
    }
    :-ms-input-placeholder {
      color: darken($green-dark, 20%);
    }

    input[type="search"]{
      @extend %base;
      @include appearance( none );

      width: 100%;
      height: 100%;
      padding-left: 10px;
      padding-right: 40px;

      color: $white;
      border: none;
      border-radius: 3px;
      background-color: $green-dark;
    }

    button[type="submit"]{
      top: 5px;
      right: 5px;
      position: absolute;

      width: 30px;
      height: 30px;
      padding: 0;
      margin-left: -35px;

      background-color: $white;

      img{
        left: 1px;

        width: 20px;
      }
    }
  }

  // Nav
  nav{
    margin-right: 160px;

    ul{
      > li{
        p{
          @include font-smoothing( antialiased );

          color: $white;
          font-size: 16px;
        }
      }
    }
  }
}
