body > header{
  @include box-shadow( 0 3px 8px rgba(0,0,0,.35) );

  z-index: $zIndex-header;

  width: 100%;

  background-color: $color-primary;

  .header-top > div,
  .header-content > div{
    max-width: 1100px;
    height: 100%;
    margin: auto;
  }
}

// Header top
body > header .header-top{
  padding-top: 5px;
  padding-bottom: 5px;

  text-align: right;
  background-color: $white;
}

// Header content
body > header .header-content > div{
  @include flexbox;
  @include align-items( center );

  > *{
    margin: 0 20px;

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-right: 0;
    }
  }

  // Logo
  .link-logo{
    width: 130px;

    img{
      top: 0;
      bottom: 0;
      position: absolute;

      width: 100%;
      margin: auto;
    }
  }

  // Search form
  form[role="search"]{
    input[type="search"]{
      border: none;
    }
  }

  // Nav
  nav{
    margin-left: auto;
  }
}
