body > header{
  z-index: $zIndex-header;

  width: 100%;
  height: $header-height;

  background-color: $green;

  .header-content{
    @include flexbox;
    @include align-items( center );

    max-width: 1200px;
    height: 100%;
    margin: auto;

    > *{
      margin: 0 20px;

      &:first-child{
        margin-left: 0;
      }

      &:last-child{
        margin-right: 0;
      }
    }

    // Logo
    .link-logo{
      width: 120px;

      img{
        width: 100%;
      }
    }

    // Search form
    form[role="search"]{
      input[type="search"]{
        border: none;
        background-color: $green-dark;
      }
    }

    // Nav
    nav{
      ul{
        > li{
          p{
            color: $white;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            cursor: pointer;
          }
        }
      }
    }

    // Help
    > a{
      margin-left: auto;
    }
  }
}
