body > header,
body > footer{
  padding: 0 $space-sides;
}

main{
  max-width: 1100px;
  margin: auto;

  .content-container{
    float: left;

    width: 100%;
    max-width: 800px;
    padding-right: 40px;
    padding-bottom: $space-section;

    border-right: thin solid $grey;
  }

  aside{
    padding-top: $space-section;
    padding-left: 40px;
  }
}

main > *{
  padding: ($space-section / 2) 0;

  &:first-child{
    padding-top: $space-section;
  }

  &:last-child{
    padding-bottom: $space-section;
  }
}

@media #{$small-only}{
  body > header,
  body > footer{
    padding: 0 $space-sides-small;
  }

  main > *{
    padding: $space-section-small 0;

    &:first-child{
      padding-top: $space-section-small;
    }

    &:last-child{
      padding-bottom: $space-section-small;
    }
  }
}