body > header,
body > footer{
  padding: 0 $space-sides;
}

main{
  max-width: 1100px;
  margin: auto;
}

main > *{
  margin: ($space-section / 2) 0;

  &:first-child{
    margin-top: $space-section;
  }

  &:last-child{
    margin-bottom: $space-section;
  }
}

@media #{$small-only}{
  body > header,
  body > footer{
    padding: 0 $space-sides-small;
  }

  main > *{
    margin: $space-section-small 0;

    &:first-child{
      margin-top: $space-section-small;
    }

    &:last-child{
      margin-bottom: $space-section-small;
    }
  }
}