body > header > div,
body > footer > div,
.page-header{
  padding-left: $space-sides;
  padding-right: $space-sides;
}

main{
  max-width: 1260px; // 1200 + 2*space-sides-small
  margin: auto;
  padding-left: $space-sides-small;
  padding-right: $space-sides-small;

  .content-container{
    float: left;

    width: 100%;
    max-width: 70%;
    padding-right: 40px;
    padding-bottom: 100px;

    border-right: thin solid $grey;

    > *{
      margin-bottom: 20px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  aside{
    width: 100%;
    max-width: 30%;
    padding-top: $space-section;
    padding-left: 40px;
  }
}

main > *{
  padding: ($space-section / 2) 0;

  &:first-child{
    padding-top: $space-section;
  }

  &:last-child{
    padding-bottom: $space-section;
  }
}

@media screen and (max-width: 1280px){
  body > header > div,
  body > footer > div,
  .page-header{
    padding-left: $space-sides-small;
    padding-right: $space-sides-small;
  }
}

@media screen and (max-width: 1100px){
  main{
    padding-left: $space-sides-small;
    padding-right: $space-sides-small;

    .content-container{
      max-width: none;
      padding-right: 0;

      border-right: none;
    }

    aside{
      display: none;
    }
  }
}

@media #{$small-only}{
  main > *{
    padding: $space-section-small 0;

    &:first-child{
      padding-top: $space-section-small;
    }

    &:last-child{
      padding-bottom: $space-section-small;
    }
  }
}
