body > header,
body > footer{
  padding: 0 $space-sides;
}

main{
  max-width: 1100px;
  margin: auto;

  .content-container{
    float: left;

    width: 100%;
    max-width: 800px;
    padding-right: 40px;
    padding-bottom: 100px;

    border-right: thin solid $grey;

    > *{
      margin-bottom: 20px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  aside{
    padding-top: $space-section;
    padding-left: 40px;
  }
}

main > *{
  padding: ($space-section / 2) 0;

  &:first-child{
    padding-top: $space-section;
  }

  &:last-child{
    padding-bottom: $space-section;
  }
}

@media screen and (max-width: 1100px){
  body > header,
  body > footer > div,
  .page-header{
    padding-left: $space-sides-small;
    padding-right: $space-sides-small;
  }

  main{
    padding-left: $space-sides-small;
    padding-right: $space-sides-small;

    .content-container{
      max-width: none;
      padding-right: 0;

      border-right: none;
    }

    aside{
      display: none;
    }
  }
}

@media #{$small-only}{
  main > *{
    padding: $space-section-small 0;

    &:first-child{
      padding-top: $space-section-small;
    }

    &:last-child{
      padding-bottom: $space-section-small;
    }
  }
}