section.page-header{
  color: $black;
  background-color: $grey-light;
  border-bottom: thin solid $grey;

  .section-body{
    max-width: 1100px;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding: 40px 0;

    figure{
      background-color: transparent;
    }

    h1, h2, h3, h4{
      margin-bottom: 15px;
    }
  }

  .page-header-background{
    top: 0;
    left: 0;
    position: absolute;

    width: 100%;
    height: 100%;

    img{
      @include filter( grayscale(1) );

      top: 0;
      bottom: 0;
      position: absolute;

      width: auto;
      height: 70%;
      margin: auto;

      opacity: 0.3;

      &:first-child{
        left: 60px;
      }

      &:last-child{
        right: 60px;
      }
    }
  }
}

section.page-header.page-header-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &:before{
    content: "";

    top: 0;
    left: 0;
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.6);
  }

  > *{
    z-index: 1;
  }

  h1, p{
    @include font-smoothing( antialiased );

    color: $white;
  }

  .expand-container{
    &.is-open{
      .expand-trigger{
        &:before{
          @include linear-gradient( to bottom, transparent, transparent );
        }
      }
    }

    .expand-trigger{
      &:before{
        @include linear-gradient( to bottom, transparent, rgba(0,0,0,.6) );
      }

      a{
        border-color: $white;
      }
    }
  }
}
