section.page-header{
  padding: 80px 0;

  background-color: $grey-light;
  border-bottom: thin solid $grey;

  .section-body{
    max-width: 1100px;
    height: auto;
    margin: auto;
    overflow: hidden;

    h2, h3, h4{
      margin-bottom: 15px;
    }
  }
}