section.page-header{
  // @include font-smoothing( antialiased );
  // @include linear-gradient( 40deg, darken($color-primary-dark, 15%) 30%, darken($color-primary, 20%) 70% );

  color: $black;
  background-color: $grey-light;
  border-bottom: thin solid $grey;

  .section-body{
    max-width: 1100px;
    height: auto;
    margin: auto;
    overflow: hidden;
    padding: 80px 0;

    figure{
      background-color: transparent;
    }

    h1, h2, h3, h4{
      margin-bottom: 15px;
    }
  }

  .page-header-background{
    top: 0;
    left: 0;
    position: absolute;

    width: 100%;
    height: 100%;

    img{
      @include filter( grayscale(1) );

      top: 0;
      bottom: 0;
      position: absolute;

      width: auto;
      height: 70%;
      margin: auto;

      opacity: 0.3;

      &:first-child{
        left: 60px;
      }

      &:last-child{
        right: 60px;
      }
    }
  }
}