body.woocommerce-cart{
  .woocommerce{
    max-width: 800px;
    margin: auto;

    .cart-collaterals{
      margin-top: 40px;
      padding: 20px;

      border-top: thin solid $grey;
      text-align: right;

      h3{
        margin-bottom: 20px;

        span{
          @extend h3;

          font-weight: 700;
        }
      }
    }
  }

  table{
    tr:last-child{
      td.actions{
        text-align: right;
      }
    }
  }
}