body.woocommerce-cart{
  .woocommerce{
    max-width: 800px;
    margin: auto;

    .cart-collaterals{
      margin-top: 40px;
      padding: 20px;

      border-top: thin solid $grey;
      text-align: right;

      h3{
        margin-bottom: 20px;

        span{
          @extend h3;

          font-weight: 700;
        }
      }
    }
  }

  table{
    tr.cart_item{
      td.product-remove{
        a{
          width: 100%;
          display: block;

          text-align: center;

          i{
            font-size: 28px;
          }
        }
      }
    }

    tr:last-child{
      td.actions{
        text-align: right;
      }
    }
  }
}

@media #{$small-only}{
  body.woocommerce-cart{
    .woocommerce{
      table thead{
        display: none;
      }

      tbody tr{
        display: block;
        margin-bottom: 10px;

        border: thin solid $grey;

        td{
          width: 100%;
          display: block;
          padding: 10px;

          border: none;
          border-bottom: thin solid $grey;
        }

        td.product-price,
        td.product-quantity,
        td.product-subtotal{
          text-align: right;

          &:before{
            content: attr(data-title);

            float: left;

            font-weight: bold;
          }
        }
      }
    }
  }
}