body.woocommerce-checkout{
  form.woocommerce-checkout{
    height: auto;
    overflow: hidden;

    #customer_details,
    #order_review,
    #payment{
      float: left;

      width: 50%;
      padding: 20px;
    }

    #payment,
    #customer_details{
      border-radius: 3px;
      border: thin solid $grey;
      background-color: $grey-light;
    }

    #order_review{
      padding: 20px 40px 20px 0;

      h3{
        margin-bottom: 20px;
      }

      .order-total{
        th,
        td .amount{
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    #customer_details{
      margin-bottom: 40px;
    }
  }
}

body.woocommerce-checkout form.woocommerce-checkout{
  #payment{
    float: right;

    li{
      width: 100%;
      height: 80px;
      padding: 20px;
      margin-bottom: 20px;
      display: inline-block;

      border-radius: 3px;
      border: thin solid $grey;

      input[type="radio"]{
        display: inline-block !important;
        margin-right: 10px;
      }

      label{
        vertical-align: middle;
        line-height: 40px;

        img{
          width: auto;
          height: 100%;
          float: right;
        }
      }
    }
  }
}
