body.woocommerce-checkout{
  form.woocommerce-checkout{
    height: auto;
    overflow: hidden;

    #customer_details,
    #order_review,
    #payment{
      float: left;

      width: 50%;
      padding: 20px;
    }

    #payment,
    #customer_details{
      border-radius: 3px;
      border: thin solid $grey;
      background-color: $grey-light;
    }

    #order_review{
      padding: 20px 40px 20px 0;

      h3{
        margin-bottom: 20px;
        float: left;
      }

      > .button{
        float: right;
      }

      .order-total{
        th,
        td .amount{
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    #customer_details{
      margin-bottom: 40px;
    }
  }
}

body.woocommerce-checkout form.woocommerce-checkout{
  #payment{
    float: right;

    li{
      @include flexbox;
      @include align-items( center );

      width: 100%;
      height: 80px;
      padding: 20px;
      margin-bottom: 20px;

      border-radius: 3px;
      border: thin solid $grey;

      input[type="radio"]{
        display: inline-block !important;
        margin-right: 10px;
      }

      label{
        vertical-align: middle;
        line-height: 40px;
        cursor: pointer;
      }

      img{
        width: 60px;
        margin-left: auto;
      }
    }

    .place-order{
      margin-bottom: 0;

      small a{
        color: $color-accent;
      }

      input[type="submit"]{
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 1100px){
  body.woocommerce-checkout{
    form.woocommerce-checkout{
      height: auto;
      overflow: hidden;

      #customer_details,
      #order_review,
      #payment{
        float: left;

        width: 100%;
        padding: 20px;
        margin-bottom: 40px;
      }

      #order_review{
        padding: 20px 0 0;
      }
    }
  }
}

@media #{$small-only}{
  body.woocommerce-checkout{
    form.woocommerce-checkout{
      #order_review{
        > .button{
          float: left;
          margin-bottom: 20px;
        }
      }

      #payment{
        li img{
          display: none;
        }

        .place-order input[type="submit"]{
          height: auto;
          padding: 10px;

          white-space: pre-wrap;
          line-height: 1.5;
          text-align: left;
        }
      }
    }
  }
}