body.home{
  section#intro-home{
    width: 100%;
    padding: 60px;

    color: $white;
    text-align: center;

    h1{
      margin-bottom: 10px;
    }

    form[role="search"]{
      width: 800px;
      max-width: none;
      height: 60px;
      margin: auto;

      ::-webkit-input-placeholder{
        color: $grey-text;
      }
      :-moz-placeholder{
        color: $grey-text;
      }
      ::-moz-placeholder{
        color: $grey-text;
      }
      :-ms-input-placeholder {
        color: $grey-text;
      }

      input[type="search"]{
        color: $black;
      }

      button[type="submit"]{
        top: 10px;
        right: 10px;

        width: auto;
        height: 40px;
        padding: 0 30px;

        background-color: $color-accent;

        &:hover,
        &:focus{
          background-color: $color-accent-dark;
        }
      }
    }
  }
}


body.home{
  > header{
    position: absolute;
    background-color: transparent;
    border-bottom: none;

    .header-content{
      div > nav > ul > li{
        > p,
        > a{
          @include font-smoothing( antialiased );

          color: $white;
        }
      }

      div > .button{
        background-color: $white;
      }
    }

    .header-bottom{
      display: none;
    }
  }

  .page-header{
    padding-top: 150px !important;
  }
}
