body.single-product{
  .page-header{
    text-align: center;

    p,
    strong{
      color: $white;
      font-size: 18px;
    }

    ul{
      li{
        display: inline-block;
        margin-right: 15px;
      }

      li:last-child{
        margin-right: 0;
      }
    }
  }

  main > .product{
    height: auto;
    overflow: hidden;

    .summary{
      height: auto;
      overflow: hidden;

      aside{
        max-width: 35%;
        float: left;

        padding: 0;

        div{
          padding: 0;

          border: none;
          background-color: transparent;
        }
      }

      .content-container{
        max-width: 65%;
        padding-left: 40px;
        padding-right: 0;

        border: none;
      }
    }
  }
}

body.single-product aside{
  // "No seating available"
  p{
    padding: 20px;
  }

  figure{
    border: thin solid $grey;

    .zoom{
      top: 10px;
      right: 10px;
      position: absolute;
      z-index: 1;

      width: 30px;
      height: 30px;

      border: thin solid $color-accent-dark;
      border-radius: 3px;
      background-color: $color-accent;

      &:before,
      &:after{
        content: "";

        top: 7px;
        right: 13px;
        position: absolute;

        width: 2px;
        height: 14px;

        background-color: $white;
      }

      &:before{
        @include transform( rotate(90deg) );
      }
    }

    .zoom-out{
      top: 50px;

      &:after{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1100px){
  body.single-product{
    main > .product{
      .summary{
        .content-container{
          max-width: none;
          padding-left: 0;
        }
      }
    }
  }
}
