body.single-product{
  main > .product{
    height: auto;
    overflow: hidden;

    .summary{
      height: auto;
      overflow: hidden;

      aside{
        float: left;

        padding: 0;
      }

      .content-container{
        padding-left: 20px;
        padding-right: 0;

        border: none;
      }
    }
  }
}

body.single-product aside{
  figure{
    background-color: transparent;
    border: thin solid $grey;

    img{
      padding: 20px;
    }
  }
}