body.single-product{
  .page-header{
    @include font-smoothing( antialiased );
    @include linear-gradient( 40deg, darken($color-primary-dark, 15%) 30%, darken($color-primary, 20%) 70% );

    color: $white;
    text-align: center;
    background-color: $grey-dark;

    p{
      @include font-smoothing( antialiased );

      font-size: 18px;
    }

    ul{
      li{
        display: inline-block;
        margin-right: 15px;
      }

      li:last-child{
        margin-right: 0;
      }
    }
  }

  main > .product{
    height: auto;
    overflow: hidden;

    .summary{
      height: auto;
      overflow: hidden;

      aside{
        float: left;

        max-width: 400px;
        padding: 0;
      }

      .content-container{
        max-width: 700px;
        padding-left: 20px;
        padding-right: 0;

        border: none;
      }
    }
  }
}

body.single-product aside{
  figure{
    border: thin solid $grey;

    img{
    }
  }
}