body.single-product{
  .page-header{
    @include font-smoothing( antialiased );

    text-align: center;
    color: $white;
    background: $grey-dark;

    p{
      font-size: 18px;
    }

    ul{
      li{
        display: inline-block;
        margin-right: 15px;
      }

      li:last-child{
        margin-right: 0;
      }
    }
  }

  main > .product{
    height: auto;
    overflow: hidden;

    .summary{
      height: auto;
      overflow: hidden;

      aside{
        float: left;

        max-width: 400px;
        padding: 0;
      }

      .content-container{
        max-width: 700px;
        padding-left: 20px;
        padding-right: 0;

        border: none;
      }
    }
  }
}

body.single-product aside{
  figure{
    background-color: transparent;
    border: thin solid $grey;

    img{
      padding: 20px;
    }
  }
}