section.page-header-taxonomy{
  .section-body{
    figure{
      float: left;

      width: 250px;
    }

    div{
      float: left;

      width: calc(100% - 250px);
      padding-left: 40px;
    }
  }
}