section.page-header-taxonomy{
  .section-body{
    figure{
      float: left;
      padding-top: 75px;
      padding-right: 40px;
      display: inline-block;

      img{
        width: 250px;
      }
    }

    > div{
      float: left;
      width: calc(100% - 290px);

      .expand-container{
        margin-bottom: -20px;
      }
    }
  }
}

section.page-header-team{
  .section-body{
    figure{
      img{
        width: 150px;
      }
    }

    > div{
      width: calc(100% - 190px);
    }
  }
}

@media screen and (max-width: 1100px){
  section.page-header-taxonomy{
    .section-body{
      figure{
        display: none;
      }

      > div{
        width: 100%;
      }
    }
  }
}