section.page-header-taxonomy{
  .section-body{
    figure{
      float: left;

      width: 20%;
      //display: inline-block;
      display: none;
      padding-right: 40px;

      img{
        @include box-shadow( 0px 50px 40px -40px rgba(0,0,0,.3) );
      }
    }

    div{
      float: left;

      width: 100%;
      padding-top: 10px;
    }
  }
}
