section.page-header-taxonomy{
  .section-body{
    overflow: visible;

    figure{
      @include box-shadow( 0px 50px 40px -40px rgba(0,0,0,.3) );

      width: 50%;
      display: inline-block;
    }

    div{
      float: right;

      width: 50%;
      padding-left: 40px;
      padding-top: 10px;
    }
  }
}