.tax-region,
.tax-league,
.tax-team{
  section.taxonomy-header{
    h2{
      margin-bottom: 40px;
    }

    figure{
      float: left;

      width: 250px;
      height: 150px;
      margin-bottom: 40px;
    }

    div{
      float: left;

      width: calc(100% - 250px);
      padding-left: 40px;
      margin-bottom: 40px;
    }
  }
}