body.single-product .variations{
  li:first-child,
  li.no-tickets,
  li form{
    @include flexbox;
    @include align-items( center );
    @include justify-content( space-between );

    width: 100%;
    height: 80px;
    padding: 0 30px;

    border: thin solid $grey;

    .attributes{
      width: 50%;
    }

    .price{
      width: 15%;
    }

    .quantity{
      width: 15%;
    }

    .add-to-cart{
      width: 20%;

      text-align: right;
    }
  }
}