section{
  width: 100%;
  height: auto;
  overflow: hidden;

  background: $white;

  .section-header,
  .section-body{
    clear: both;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  h2, h3, h4{
    margin-bottom: 40px;
  }
}