a{
  @extend %base;
  @include transition( .2s );

  color: $color-accent;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.6;

  &:hover,
  &:focus{
    color: $black;
  }
}

// Link tags with headings, divs or images in them get has-content class to serve as click container
a.has-content{
  display: block;

  color: $black;
  text-decoration: none;
}

h1, h2, h3, h4, p{
  a{
    font-size: 1em;
    color: $black;
  }
}

small a{
  font-size: 1em;
  color: $grey-text;
}

// Links in articles
article a{
  border-bottom: thin solid $grey-text;

  &:hover,
  &:focus{
    border-color: $black;
  }
}

// nav .current_page_parent,
// nav .current-menu-item{
//   a{
//     border-bottom: thin solid $black;
//   }
// }
