%base{
  @include gotham;

  font-size: 14px;
  font-weight: normal;
}

h1{
  @extend %base;

  font-size: 50px;
}

article h1{
  font-size: 2.5em;
}

h2{
  @extend %base;

  font-size: 30px;
}

h3{
  @extend %base;

  font-size: 25px;
}

h4{
  @extend %base;
  @include font-smoothing( antialiased );

  font-size: 18px;
  font-weight: 400;
  color: $grey-text;
}

p{
  @extend %base;

  line-height: 1.6;
}

p .read-more{
  @extend p;

  color: $black;
  text-decoration: underline;
}

article p{
  margin-bottom: 1em;

  font-size: 18px;
  line-height: 1.6;
}

span,
time{
  @extend %base;
}

small{
  @extend %base;

  font-size: 12px;
  color: $grey-text;
  letter-spacing: 0.2px;
  line-height: 1.5;
}