#breadcrumb{
  height: auto;
  padding: 10px 0;

  color: $grey-text;
  background-color: $white;

  div{
    max-width: 1100px;
    height: auto;
    margin: auto;
    overflow: hidden;

    li{
      display: inline-block;
    }
  }
}