#breadcrumb{
  height: auto;

  color: $grey-text;

  div{
    max-width: 1100px;
    height: auto;
    margin: auto;
    overflow: hidden;

    li{
      display: inline-block;

      a{
        small{
          color: $grey-text;
        }

        &:hover small{
          color: $black;
        }
      }

      &:after{
        content: "\203A";
        padding: 0 5px;
      }

      &:last-child{
        small{
          color: $black;
        }

        &:after{
          display: none;
        }
      }
    }
  }
}
