#breadcrumb{
  height: auto;
  padding: 10px 0;

  color: $color-primary-dark;
  background-color: $color-primary;

  div{
    max-width: 1100px;
    height: auto;
    margin: auto;
    overflow: hidden;

    li{
      display: inline-block;

      a{
        small{
          color: $color-primary-dark;
        }

        &:hover small{
          color: $white;
        }
      }

      &:after{
        content: "\203A";
        padding: 0 5px;
      }

      &:last-child{
        small{
          @include font-smoothing( antialiased );

          color: $white;
        }

        &:after{
          display: none;
        }
      }
    }
  }
}
