nav{
  height: 100%;

  > ul{
    display: inline;

    > li{
      display: inline-block;
      padding: 29px 15px; // 28 = header-height - p line-height

      p,
      a{
        line-height: 22px;
      }

      &:hover,
      &:focus{
        background-color: $color-primary-dark;

        ul{
          @include show( .2s );
        }
      }
    }
  }
}

// Subnav
nav > ul > li ul{
  @include hide( .2s );
  @include box-shadow( 0 3px 5px rgba(0,0,0,.2) );

  left: 0;
  top: 100%;
  position: absolute;

  white-space: nowrap;
  border: thin solid $grey;
  background-color: $white;

  li{
    &.view-more{
      border-top: thin solid $grey;

      a{
        color: $color-accent;
      }
    }

    p, a{
      display: block;
      padding: 10px 15px;

      color: $black;
    }

    &:hover,
    &:focus{
      cursor: pointer;
      background-color: $grey;

      a{
        color: $black;
      }
    }
  }
}

// Current item
nav ul{
  li.current{
    text-decoration: underline;
  }
}