nav{
  height: 100%;

  > ul{
    display: inline;

    > li{
      display: inline-block;
      padding: 29px 15px; // 28 = header-height - p line-height

      &:hover,
      &:focus{
        background-color: $green-dark;

        ul{
          @include show( .2s );
        }
      }
    }
  }
}

// Subnav
nav > ul > li ul{
  @include hide( .2s );
  @include box-shadow( 0 3px 5px rgba(0,0,0,.2) );

  left: 0;
  top: 100%;
  position: absolute;

  white-space: nowrap;
  border: thin solid $grey;
  background-color: $white;

  li{
    padding: 10px 15px;

    &:hover,
    &:focus{
      cursor: pointer;
      background-color: $grey;

      a{
        color: $black;
      }
    }

    &.view-more{
      border-top: thin solid $grey;
    }

    p{
      color: $black;
    }
  }
}

// Current item
nav ul{
  li.current{
    text-decoration: underline;
  }
}