nav{
  height: 100%;

  > ul{
    display: inline;

    > li{
      display: inline-block;
      padding: 24px 20px; // 28 = header-height - p line-height

      > p,
      > a{
        @include font-smoothing( antialiased );

        color: $white;
        font-size: 16px;
      }

      p,
      a{
        line-height: 22px;
      }

      &:hover,
      &:focus{
        background-color: $color-primary-dark;

        ul{
          @include show( .2s );
        }
      }
    }
  }
}

// Subnav
nav > ul > li ul{
  @include hide( .2s );
  @include box-shadow( 0 3px 5px rgba(0,0,0,.2) );

  left: 0;
  top: 100%;
  position: absolute;
  z-index: 1;

  white-space: nowrap;
  border: thin solid $grey;
  background-color: $white;

  div{
    display: inline-block;
    vertical-align: top;

    border-right: thin solid $grey;

    &:last-child{
      border-right: none;
    }
  }

  li{
    padding: 5px;

    &.view-more{
      a{
        width: 100%;
        overflow: visible;
      }

      &:hover,
      &:focus{
        background-color: transparent;

        a{
          color: $white;
        }
      }
    }

    p, a{
      display: block;
      padding: 5px 10px;

      color: $black;
    }

    &:hover,
    &:focus{
      cursor: pointer;
      background-color: $grey;

      a{
        color: $black;
      }
    }
  }
}

// Current item
nav ul{
  li.current{
    text-decoration: underline;
  }
}

@media screen and (max-width: 1100px){
  header .header-content nav{
    @include transition( .2s );
    @include transform( translateX(100%) );

    top: 0;
    right: 0;
    position: fixed;
    z-index: 9999;

    width: calc(100% - #{$header-height});
    height: 100%;
    margin: 0 !important;
    padding-top: 70px;

    background-color: $white;

    > ul{
      padding: 20px;
      display: block;

      text-align: right;
      border-top: thin solid $grey;
      border-bottom: thin solid $grey;

      > li{
        display: block;
        padding: 10px 0;

        a{
          color: $grey-text;
        }

        ul{
          display: none;
        }
      }
    }
  }

  header.nav-active nav{
    @include transform( translateX(0) );
    @include box-shadow( 0 0 50px rgba(0,0,0,.5) );
  }
}
